In [99]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Data Sources :
https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1310046501

In [100]:
import pandas as pd

In [101]:
# file = pd.read_csv('./13100465.csv')
# file = pd.read_csv('./Canada-death-causes.csv')
file = pd.read_csv('./Mental-health.csv')

In [102]:
df = pd.DataFrame(file)

In [103]:
df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Age group', 'Gender', 'Indicators',
       'Characteristics', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID',
       'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED',
       'DECIMALS'],
      dtype='object')

In [104]:
df.head(3)

,REF_DATE,GEO,DGUID,Age group,Gender,Indicators,Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2002,Canada,2021A000011124,"Total, 15 years and over","Total, gender of person","Major depressive episode, life",Number of persons,Number,223,units,0,v73953257,1.1.1.5.1,3037049.0,NaN,NaN,NaN,0
1,2002,Canada,2021A000011124,"Total, 15 years and over","Total, gender of person","Major depressive episode, life","Low 95% confidence interval, number of persons",Number,223,units,0,v73953258,1.1.1.5.2,2913405.0,NaN,NaN,NaN,0
2,2002,Canada,2021A000011124,"Total, 15 years and over","Total, gender of person","Major depressive episode, life","High 95% confidence interval, number of persons",Number,223,units,0,v73953259,1.1.1.5.3,3160692.0,NaN,NaN,NaN,0

In [105]:
df = df[df['UOM'] =='Number']

In [106]:
df_clean = df.drop(columns=['UOM_ID','STATUS','DECIMALS','TERMINATED','STATUS','SCALAR_FACTOR','SCALAR_ID','SYMBOL','DGUID','VECTOR','COORDINATE'])

In [107]:
df_clean.rename( columns={'REF_DATE':'Year','GEO':'Location','UOM':'Metrics','VALUE':'Total'},inplace=True)

In [108]:
df_clean.dropna(subset=['Total'],inplace=True)

In [111]:
df_clean = df_clean[
    (df_clean['Location'] != 'Canada')&
    (df_clean['Metrics'] == 'Number')&
    ((df_clean['Year'] >= 2018)|(df_clean['Year'] <= 2022))
    ]

In [112]:
df_clean['Location'].unique()

array(['Atlantic Provinces', 'Newfoundland and Labrador',
       'Prince Edward Island', 'Nova Scotia', 'New Brunswick', 'Quebec',
       'Ontario', 'Prairie Provinces', 'Manitoba', 'Saskatchewan',
       'Alberta', 'British Columbia'], dtype=object)

In [113]:
df_clean['Year'].unique()

array([2002, 2012, 2022])

In [114]:
df_clean

,Year,Location,Age group,Gender,Indicators,Characteristics,Metrics,Total
2016,2002,Atlantic Provinces,"Total, 15 years and over","Total, gender of person","Major depressive episode, life",Number of persons,Number,204631.0
2017,2002,Atlantic Provinces,"Total, 15 years and over","Total, gender of person","Major depressive episode, life","Low 95% confidence interval, number of persons",Number,186557.0
2018,2002,Atlantic Provinces,"Total, 15 years and over","Total, gender of person","Major depressive episode, life","High 95% confidence interval, number of persons",Number,222704.0
2019,2002,Atlantic Provinces,"Total, 15 years and over","Total, gender of person","Major depressive episode, life",Coefficient of variation for number of persons,Number,45.0
2024,2002,Atlantic Provinces,"Total, 15 years and over","Total, gender of person","Major depressive episode, 12 months",Number of persons,Number,74959.0
...,...,...,...,...,...,...,...,...
160945,2022,British Columbia,65 years and over,Women+,"Perceived need for mental health care, all nee...","Low 95% confidence interval, number of persons",Number,41400.0
160946,2022,British Columbia,65 years and over,Women+,"Perceived need for mental health care, all nee...","High 95% confidence interval, number of persons",Number,102800.0
160962,2022,British Columbia,65 years and over,Women+,"Mental health services, professional consultat...",Number of persons,Number,40600.0
160963,2022,British Columbia,65 years and over,Women+,"Mental health services, professional consultat...","Low 95% confidence interval, number of persons",Number,17900.0
160964,2022,British Columbia,65 years and over,Women+,"Mental health services, professional consultat...","High 95% confidence interval, number of persons",Number,63200.0